:root {
  --yellow: #F1E8C3;
  --green: #125328;
  --white: #FFFFFF;
  --lightbrown: #66644B;
  --darkbrown: #39382A;
}
.green {
  color: var(--green);
}
.lightbrown {
  color: var(--lightbrown);
}
.darkbrown {
  color: var(--darkbrown);
}
.yellow {
  color: var(--yellow);
}
