.hero--slim {
  position: relative;
  overflow: hidden;
}
.hero--slim .img-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.hero--slim .img-container > img {
  height: 100%;
  width: 100%;
  filter: brightness(50%);
  object-fit: cover;
}
.hero--slim .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
@media (max-width: 767px) {
  .hero--slim .text-container {
    height: 300px;
  }
}
.hero--slim .text-container > * {
  color: var(--yellow);
  font-family: "Adobe Clean", sans-serif;
  font-weight: 100;
}
.hero--slim .text-container > *:last-child {
  margin-bottom: 0;
}
